*,
::after,
::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	font-family: "Proxima Nova", -apple-system, "Helvetica Neue", Helvetica,
		Roboto, Arial, sans-serif, sans-serif;
}

.container {
	width: 100%;
	display: flex;
	background-color: #fff159;
	align-items: center;
}

.row {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}

.flex {
	display: flex;
}

.align_center {
	align-items: center;
}

.jc_around {
	justify-content: space-around;
}

.jc_center {
	justify-content: center;
}

.jc_evenly {
	justify-content: space-evenly;
}

.float_left {
	float: left;
}

.float_right {
	float: right;
}

.img_responsive {
	width: 100%;
}

.col1 {
	width: 10%;
}
.col2 {
	width: 20%;
}
.col3 {
	width: 30%;
}
.col4 {
	width: 40%;
}
.col5 {
	width: 50%;
}
.col6 {
	width: 60%;
}
.col7 {
	width: 70%;
}
.col8 {
	width: 80%;
}
.col9 {
	width: 90%;
}
.col10 {
	width: 100%;
}

.p_botton_top10 {
	padding-top: 5px;
	padding-bottom: 5px;
}

.p_left_right10 {
	padding-left: 10px;
	padding-right: 10px;
}

.p_botton {
	padding-bottom: 10px;
}

.font1 {
	font-size: 12px;
}
.font2 {
	font-size: 14px;
}
.font3 {
	font-size: 18px;
}

.margin_top_10 {
	margin-top: 10px;
}

.color_black_light {
	color: rgba(0, 0, 0, 45%);
}

.color_black_dart {
	color: rgba(0, 0, 0, 85%);
}
